img {
    height: 1.5em;
    display: inline-block;
    position: absolute;
}

.static_width {
    width: 100px !important;
}

.error-resolve {
    border: 1px solid red !important;
}


.error-state {
    color: red !important;
}

